#list-ranking {
  max-width: 100%;

  .item-ranking {
    position: relative;
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 90px);
    margin-left: 60px;
    background-color: #fff;
    transition: .2s ease;
    outline: none;

    @media screen and (max-width: 480px) {
      width: 100%;
      max-width: 100%;
      margin: 0 0;
    }
    
    &.background-gray {
      background-color: #f2f1f1;
    }

    &:hover, &:focus {
      background-color: #ba3638;

      .area-photo {
        .ranking-picture {
          border: 4px solid #fff;
        }
      }
      
      .area-info {
        .ranking-name {
          color: #fff;
        }

        .ranking-description {
          color: #330d0e;
        }
      }

      .tooltip-likes {
        display: flex;
        opacity: 1;
      }
    }

    .area-photo {
      position: relative;
      display: block;
      padding: 15px;

      .ranking-picture {
        position: relative;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        width: 70px;
        height: 70px;
        border: 4px solid #ba3638;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .position-circle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 15px;
        right: 15px;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border: 2px solid #6c6a6a;
        border-radius: 100%;
      }
    }

    .area-info {
      display: flex;
      flex-wrap: wrap;
      margin-left: 4px;
      // width: 300px;

      .ranking-name {
        width: 100%;
        text-align: left;
        font-size: 16pt;
        font-weight: bold;
        color: #ba3638;
      }

      .ranking-description {
        width: 100%;
        text-align: left;
        font-size: 11pt;
        font-weight: bold;
        color: #909090;
      }
    }

    .tooltip-likes {
      display: none;
      opacity: 0;
      position: absolute;
      width: 260px;
      height: 60px;
      background-color: #fff;
      border-radius: 5px;
      right: -280px;
      display: flex;

      @media screen and (max-width: 1010px) {
        right: calc((410px - 260px)/2);
        box-shadow: 0 2px 3px #272727;
      }

      @media screen and (max-width: 480px) {
        right: calc((100vw - 260px)/2);
        box-shadow: 0 2px 3px #272727;
      }

      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 0; 
        height: 0; 

        left: -10px;
        top: 24px;
      
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-right: 10px solid #fff;

        @media screen and (max-width: 1010px) {
          border: none;
        }
      }

      .tooltip-side {
        width: 50%;

        header {
          background-color: #ba3638;
          color: #fff;
          font-weight: bold;
          font-size: 11pt;
          text-transform: uppercase;
          padding: 2px 0;
        }

        &:nth-child(1) {
          header {
            border-top-left-radius: 5px;
          }

          &.most {
            width: 60%;
            border-right: 1px solid #6c6a6a;
          }
        }

        &:nth-child(2) {
          header {
            border-top-right-radius: 5px;
          }

          &.most {
            width: 60%;
            border-left: 1px solid #6c6a6a;
          }
        }

        .tooltip-body {
          margin-top: 6px;

          .percent {
            font-size: 16pt;
            color: #909090;
            font-weight: bolder;
          }
        }
      }

      
    }
  }
}